<div class="container my-5 bg-white p-5 rounded-3">
    <div class="row">
        <div class="col-lg-4 fs-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="display-6 text-viva fw-semibold">Frequently Asked Questions</h3>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">General</li>
                    <li class="list-group-item">Product</li>
                    <li class="list-group-item">Pricing</li>
                    <li class="list-group-item">My account</li>
                    <li class="list-group-item">Privacy Policy</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-8 ">
            <form class="d-flex m-0 m-auto mb-3" role="search">
                <input class="form-control rounded-end-0 rounded-start-pill fs-4 lh-lg py-3" type="search"
                    placeholder="We can help you?" aria-label="Search">
                <button class="btn-viva w-25 fs-3 rounded-start-0 rounded-end-pill" type="submit"><i
                        class="bi bi-search me-4"></i>Search</button>
            </form>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed  fs-4" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            How to share in WhatsApp?
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="card border-0 fs-4">
                                <div class="card-body">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur, nobis! Optio
                                    ab debitis tempora ut sapiente quae commodi, id, reprehenderit assumenda,
                                    tempore expedita at blanditiis sit recusandae? Iusto, repudiandae beatae!
                                </div>
                                <div class="card-footer">
                                    <p class="color-london">Was is answer helpful?</p>
                                    <span><i class="bi bi-emoji-smile me-2"></i></span><span><i
                                            class="bi bi-emoji-angry"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed  fs-4" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            How to create account on my website?
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="card border-0 fs-4">
                                <div class="card-body">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur, nobis! Optio
                                    ab debitis tempora ut sapiente quae commodi, id, reprehenderit assumenda,
                                    tempore expedita at blanditiis sit recusandae? Iusto, repudiandae beatae!
                                </div>
                                <div class="card-footer">
                                    <p class="color-london">Was is answer helpful?</p>
                                    <span><i class="bi bi-emoji-smile me-2"></i></span><span><i
                                            class="bi bi-emoji-angry"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                            How to share in Facebook?
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="card border-0 fs-4">
                                <div class="card-body">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur, nobis! Optio
                                    ab debitis tempora ut sapiente quae commodi, id, reprehenderit assumenda,
                                    tempore expedita at blanditiis sit recusandae? Iusto, repudiandae beatae!
                                </div>
                                <div class="card-footer">
                                    <p class="color-london">Was is answer helpful?</p>
                                    <span><i class="bi bi-emoji-smile me-2"></i></span><span><i
                                            class="bi bi-emoji-angry"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFour">
                        <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFour" aria-expanded="false"
                            aria-controls="flush-collapseFour">
                            How to share in Facebook?
                        </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="card border-0 fs-4">
                                <div class="card-body">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur, nobis! Optio
                                    ab debitis tempora ut sapiente quae commodi, id, reprehenderit assumenda,
                                    tempore expedita at blanditiis sit recusandae? Iusto, repudiandae beatae!
                                </div>
                                <div class="card-footer">
                                    <p class="color-london">Was is answer helpful?</p>
                                    <span><i class="bi bi-emoji-smile me-2"></i></span><span><i
                                            class="bi bi-emoji-angry"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFive">
                        <button class="accordion-button collapsed fs-4" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFive" aria-expanded="false"
                            aria-controls="flush-collapseFive">
                            How to share in Facebook?
                        </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="card border-0 fs-4">
                                <div class="card-body">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur, nobis! Optio
                                    ab debitis tempora ut sapiente quae commodi, id, reprehenderit assumenda,
                                    tempore expedita at blanditiis sit recusandae? Iusto, repudiandae beatae!
                                </div>
                                <div class="card-footer">
                                    <p class="color-london">Was is answer helpful?</p>
                                    <span><i class="bi bi-emoji-smile me-2"></i></span><span><i
                                            class="bi bi-emoji-angry"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>