<div class="site-product-detail">
    <div class="container">
        <div class="row">
            <div class="col-md-1 align-self-end">
                <ul class="list-group">
                    <li class="list-group-item border-0 bg-alysum"><img src="img/1.png"
                            class="img-fluid img-thumbnail bg-alysum" alt=""></li>
                    <li class="list-group-item border-0 bg-alysum"><img src="img/2.png" class="img-fluid" alt="">
                    </li>
                    <li class="list-group-item border-0 bg-alysum"><img src="img/3.png" class="img-fluid" alt="">
                    </li>
                </ul>
            </div>
            <div class="col-md-5"><img src="img/1.png" class="img-fluid" alt=""></div>
            <div class="col-md-6">
                <div class="d-flex justify-content-between mb-3">
                    <h3 class="fw-semibold fs-2">Jordan High Chicago Red</h3>
                    <div class="d-flex justify-content-between text-warning fs-4">
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star"></i>
                    </div>
                </div>
                <div class="text-start">
                    <p class="fs-3 color-london">$35.00</p>
                    <div class="choice-color mb-5">
                        <div class="label-choice-color text-uppercase fw-bold fs-6 color-london mb-3">
                            choose color:
                        </div>
                        <div class="form-check form-check-inline ms-4">
                            <input class="form-check-input bg-white-cover fs-2" type="radio" name="inlineRadioOptions"
                                id="chkColor1" value="color1">
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input bg-secondary fs-2" type="radio" name="inlineRadioOptions"
                                id="chkColor2" value="color2">
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input bg-black fs-2" type="radio" name="inlineRadioOptions"
                                id="chkColor3" value="color3">
                        </div>
                    </div>
                </div>
                <div class="more-info">
                    <nav>
                        <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                            <button class="nav-link active bg-alysum" id="tab-materials-nav" data-bs-toggle="tab"
                                data-bs-target="#tab-materials" type="button" role="tab" aria-controls="tab-materials"
                                aria-selected="true">Materials</button>
                            <button class="nav-link bg-alysum" id="tab-shipping-nav" data-bs-toggle="tab"
                                data-bs-target="#tab-shipping" type="button" role="tab" aria-controls="tab-shipping"
                                aria-selected="false">Shipping</button>
                            <button class="nav-link bg-alysum" id="tab-policy-nav" data-bs-toggle="tab"
                                data-bs-target="#tab-policy" type="button" role="tab" aria-controls="tab-policy"
                                aria-selected="false">Return policy</button>
                        </div>
                    </nav>
                    <div class="tab-content mb-5" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="tab-materials" role="tabpanel"
                            aria-labelledby="tab-materials-nav" tabindex="0">
                            <div class="text-tilte color-london fs-5 mb-3">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor cumque vero dolorem
                                beatae pariatur maxime consectetur officia, fugit sequi, eum voluptas asperiores
                                numquam
                                nesciunt minima labore ad, totam cupiditate reprehenderit?
                            </div>
                            <div class="text-body color-deep fs-5 fw-medium">
                                We use wood iron, plastic polid wood spring etc.
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-shipping" role="tabpanel" aria-labelledby="tab-shipping-nav"
                            tabindex="0">
                            <div class="text-tilte color-london fs-5 mb-3">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor cumque vero dolorem
                                beatae pariatur maxime consectetur officia, fugit sequi, eum voluptas asperiores
                                numquam
                                nesciunt minima labore ad, totam cupiditate reprehenderit?
                            </div>
                            <div class="text-body color-deep fs-5 fw-medium">
                                We use wood iron, plastic polid wood spring etc.
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-policy" role="tabpanel" aria-labelledby="tab-policy-nav"
                            tabindex="0">
                            <div class="text-tilte color-london fs-5 mb-3">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor cumque vero dolorem
                                beatae pariatur maxime consectetur officia, fugit sequi, eum voluptas asperiores
                                numquam
                                nesciunt minima labore ad, totam cupiditate reprehenderit?
                            </div>
                            <div class="text-body color-deep fs-5 fw-medium">
                                We use wood iron, plastic polid wood spring etc.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="quatity-addcart d-flex justify-content-between">
                    <div class="input-group quantity">
                        <div class="minus">
                            <button class="btn btn-outline-viva h-100" type="button">−</button>
                        </div>
                        <input type="text" class="form-control text-center bg-alysum active border-top" value="1"
                            placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        <div class="plus">
                            <button class="btn btn-outline-viva h-100" type="button">+</button>
                        </div>
                    </div>
                    <div class="btn-outline-viva lh-lg fs-3 text-uppercase text-center w-50">Add to cart</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-description my-5">
    <div class="container">
        <div class="col-6">
            <nav>
                <div class="nav nav-tabs nav-justified mb-3" id="nav-tab" role="tablist">
                    <button class="nav-link active bg-alysum" id="tab-description-nav" data-bs-toggle="tab"
                        data-bs-target="#tab-description" type="button" role="tab" aria-controls="tab-description"
                        aria-selected="true">Description</button>
                    <button class="nav-link bg-alysum" id="tab-wannyly-nav" data-bs-toggle="tab"
                        data-bs-target="#tab-wannyly" type="button" role="tab" aria-controls="tab-wannyly"
                        aria-selected="false">Wannyly</button>
                    <button class="nav-link bg-alysum" id="tab-reviews-nav" data-bs-toggle="tab"
                        data-bs-target="#tab-reviews" type="button" role="tab" aria-controls="tab-reviews"
                        aria-selected="false">Reviews</button>
                </div>
            </nav>
            <div class="tab-content mb-5" id="nav-tabContent">
                <div class="tab-pane fade show active" id="tab-description" role="tabpanel"
                    aria-labelledby="tab-description-nav" tabindex="0">
                    <div class="text-tilte color-london fs-5 mb-3">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor cumque vero dolorem
                        beatae pariatur maxime consectetur officia, fugit sequi, eum voluptas asperiores
                        numquam
                        nesciunt minima labore ad, totam cupiditate reprehenderit?
                        <br>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor cumque vero dolorem
                        beatae pariatur maxime consectetur officia, fugit sequi, eum voluptas asperiores
                        numquam
                        nesciunt minima labore ad, totam cupiditate reprehenderit?
                        <br>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor cumque vero dolorem
                        beatae pariatur maxime consectetur officia, fugit sequi, eum voluptas asperiores
                        numquam
                        nesciunt minima labore ad, totam cupiditate reprehenderit?
                    </div>
                    <div class="text-body color-deep fs-5 fw-medium">
                        We use wood iron, plastic polid wood spring etc.
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-wannyly" role="tabpanel" aria-labelledby="tab-wannyly-nav"
                    tabindex="0">
                    <div class="text-tilte color-london fs-5 mb-3">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor cumque vero dolorem
                        beatae pariatur maxime consectetur officia, fugit sequi, eum voluptas asperiores
                        numquam
                        nesciunt minima labore ad, totam cupiditate reprehenderit?
                        <br>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor cumque vero dolorem
                        beatae pariatur maxime consectetur officia, fugit sequi, eum voluptas asperiores
                        numquam
                        nesciunt minima labore ad, totam cupiditate reprehenderit?
                        <br>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor cumque vero dolorem
                        beatae pariatur maxime consectetur officia, fugit sequi, eum voluptas asperiores
                        numquam
                        nesciunt minima labore ad, totam cupiditate reprehenderit?
                    </div>
                    <div class="text-body color-deep fs-5 fw-medium">
                        We use wood iron, plastic polid wood spring etc.
                    </div>
                </div>
                <div class="tab-pane fade" id="tab-reviews" role="tabpanel" aria-labelledby="tab-reviews-nav"
                    tabindex="0">
                    <div class="text-tilte color-london fs-5 mb-3">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor cumque vero dolorem
                        beatae pariatur maxime consectetur officia, fugit sequi, eum voluptas asperiores
                        numquam
                        nesciunt minima labore ad, totam cupiditate reprehenderit?
                        <br>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor cumque vero dolorem
                        beatae pariatur maxime consectetur officia, fugit sequi, eum voluptas asperiores
                        numquam
                        nesciunt minima labore ad, totam cupiditate reprehenderit?
                        <br>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor cumque vero dolorem
                        beatae pariatur maxime consectetur officia, fugit sequi, eum voluptas asperiores
                        numquam
                        nesciunt minima labore ad, totam cupiditate reprehenderit?
                    </div>
                    <div class="text-body color-deep fs-5 fw-medium">
                        We use wood iron, plastic polid wood spring etc.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-more-products">
    <div class="container">
        <div class="bd-bottom text-center mb-5">
            <h2 class="fs-1">Related products</h2>
        </div>
        <div class="row my-5">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <a href="product-detail.html" class="product-items d-block color-deep mb-5">
                    <div class="bg-white-cover">
                        <img src="img/1.png" alt="" class="img-fluid img-section">
                    </div>
                    <div class="product-items-info">Men
                    </div>
                    <strong class="product-items-price">
                        $20.00
                    </strong>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <a href="product-detail.html" class="product-items d-block color-deep mb-5">
                    <div class="bg-white-cover">
                        <img src="img/2.png" alt="" class="img-fluid img-section">
                    </div>
                    <div class="product-items-info">Men
                    </div>
                    <strong class="product-items-price">
                        $20.00
                    </strong>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <a href="product-detail.html" class="product-items d-block color-deep mb-5">
                    <div class="bg-white-cover">
                        <img src="img/3.png" alt="" class="img-fluid img-section">
                    </div>
                    <div class="product-items-info">Men
                    </div>
                    <strong class="product-items-price">
                        $20.00
                    </strong>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <a href="product-detail.html" class="product-items d-block color-deep mb-5">
                    <div class="bg-white-cover">
                        <img src="img/4.png" alt="" class="img-fluid img-section">
                    </div>
                    <div class="product-items-info">Men
                    </div>
                    <strong class="product-items-price">
                        $20.00
                    </strong>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <a href="product-detail.html" class="product-items d-block color-deep mb-5">
                    <div class="bg-white-cover">
                        <img src="img/5.png" alt="" class="img-fluid img-section">
                    </div>
                    <div class="product-items-info">Men
                    </div>
                    <strong class="product-items-price">
                        $20.00
                    </strong>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <a href="product-detail.html" class="product-items d-block color-deep mb-5">
                    <div class="bg-white-cover">
                        <img src="img/6.png" alt="" class="img-fluid img-section">
                    </div>
                    <div class="product-items-info">Men
                    </div>
                    <strong class="product-items-price">
                        $20.00
                    </strong>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <a href="product-detail.html" class="product-items d-block color-deep mb-5">
                    <div class="bg-white-cover">
                        <img src="img/7.png" alt="" class="img-fluid img-section">
                    </div>
                    <div class="product-items-info">Men
                    </div>
                    <strong class="product-items-price">
                        $20.00
                    </strong>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <a href="product-detail.html" class="product-items d-block color-deep mb-5">
                    <div class="bg-white-cover">
                        <img src="img/8.png" alt="" class="img-fluid img-section">
                    </div>
                    <div class="product-items-info">Men
                    </div>
                    <strong class="product-items-price">
                        $20.00
                    </strong>
                </a>
            </div>
        </div>
    </div>
</div>