// COLOR VARI
$viva-magenta : #BB2649;
$deep-depths: #46483D;
$london-fog: #A29E92;
$white-cover: #e7e4e4;
$white-alysum: #f6f5f3;

// CHECKED RADIO VARI
$form-check-input-checked-bg-color:  $viva-magenta !important;
