
<div class="container section-about mb-5" id="aboutus">
    <div class="text-center mb-5">
        <h2 class="display-5 fw-normal bd-bottom">ABOUT US</h2>
        <p class="d-block fs-3 color-london">Finding Your Perfect Shirts This Summer</p>
    </div>
    <div class="row section-about-top mb-5">
        <div class="col-lg-6">
            <img src="resources/img/us-2.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 about-content align-self-center">
            <div class="px-5">
                <h3>Our Vision</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur quasi iure placeat
                    provident
                    qui necessitatibus ut quae facilis cumque fuga vel distinctio recusandae deserunt sunt libero
                    nostrum eveniet, impedit nam?</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo commodi aliquam deserunt
                    praesentium
                    error fugiat eos ea aliquid fuga odit dolorum libero quae officiis ad, voluptas at ullam omnis
                    exercitationem.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo commodi aliquam deserunt
                    praesentium
                    error fugiat eos ea aliquid fuga odit dolorum libero quae officiis ad, voluptas at ullam omnis
                    exercitationem.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo commodi aliquam deserunt
                    praesentium
                    error fugiat eos ea aliquid fuga odit dolorum libero quae officiis ad, voluptas at ullam omnis
                    exercitationem.</p>
            </div>
        </div>
        <div class="col-lg-6 order-1 order-sm-2">
            <img src="resources/img/us-3.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 about-content align-self-center order-2 order-sm-1">
            <div class="px-5">
                <h3>Our Vision</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur quasi iure placeat
                    provident
                    qui necessitatibus ut quae facilis cumque fuga vel distinctio recusandae deserunt sunt libero
                    nostrum eveniet, impedit nam?</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo commodi aliquam deserunt
                    praesentium
                    error fugiat eos ea aliquid fuga odit dolorum libero quae officiis ad, voluptas at ullam omnis
                    exercitationem.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo commodi aliquam deserunt
                    praesentium
                    error fugiat eos ea aliquid fuga odit dolorum libero quae officiis ad, voluptas at ullam omnis
                    exercitationem.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo commodi aliquam deserunt
                    praesentium
                    error fugiat eos ea aliquid fuga odit dolorum libero quae officiis ad, voluptas at ullam omnis
                    exercitationem.</p>
            </div>
        </div>

    </div>
</div>