<div class="container">
    <div class="site-back pt-3 ps-4 border-bottom">
        <nav aria-label="breadcrumb align-self-center">
            <ol class="breadcrumb fs-4 fw-normal">
                <li class="breadcrumb-item"><a href="index.html"
                        class="color-deep text-decoration-none fw-bold display-6">GECHO</a>
                </li>
                <li class="breadcrumb-item fs-4 color-london align-self-center" aria-current="page">ACCOUNT CREATION
                </li>
            </ol>
        </nav>
    </div>
</div>