<div class="container feature my-5" id="collection">
    <div class="display-5 fw-normal ps-5 mb-5 tilte-section">DISCOVER
        <span class="d-block">THE COLLECTIONS</span>
    </div>
    <div class="row">
        <div class="col-lg-8 feature-category mb-4 h-100">
            <div class="header-section">Men
            </div>
            <img src="resources/img/men-collections.jpg" alt="" class="img-fluid img-section">
        </div>
        <div class="col-lg-4">
            <div class="feature-category mb-4">
                <div class="header-section">Women
                </div>
                <img src="resources/img/model-1.jpg" alt="" class="img-fluid img-section">
            </div>
            <div class="feature-category mb-4">
                <div class="header-section">Sneacker
                </div>
                <img src="resources/img/sneaker-collections.jpg" alt="" class="img-fluid img-section">
            </div>
        </div>
    </div>
</div>