<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 pr-md-5">
                <a href="#" class="footer-site-logo d-block mb-4 text-decoration-none fs-1">GECHO</a>
                <p class="fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quasi perferendis
                    ratione
                    perspiciatis accusantium.</p>
            </div>
            <div class="col-md">
                <ul class="list-unstyled nav-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#aboutus">About Us</a></li>
                    <li><a href="#collection">Collections</a></li>
                    <li><a href="#">Quiz</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-md">
                <ul class="list-unstyled nav-links">
                    <li><a href="#">Clients</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Career</a></li>
                    <li><a href="#testimonial">Testimonials</a></li>
                    <li><a href="#">Journal</a></li>
                </ul>
            </div>
            <div class="col-md">
                <ul class="list-unstyled nav-links">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Partners</a></li>
                </ul>
            </div>
            <div class="col-md text-md-center">
                <ul class="social list-unstyled">
                    <li><a href="#"><span class="icon-instagram"></span></a></li>
                    <li><a href="#"><span class="icon-twitter"></span></a></li>
                    <li><a href="#"><span class="icon-facebook"></span></a></li>
                    <li><a href="#"><span class="icon-pinterest"></span></a></li>
                    <li><a href="#"><span class="icon-dribbble"></span></a></li>
                </ul>
                <p class=""><a href="#contact" class="btn btn-tertiary fs-5">Contact Us</a></p>
            </div>
        </div>

        <div class="row ">
            <div class="col-12 text-center">
                <div class="copyright mt-5 pt-5">
                    <p><small class="fs-5">&copy; 2019-2020 All Rights Reserved.</small></p>
                </div>
            </div>
        </div>
    </div>

</footer>