<div class="container mb-5">
    <div class="row box-main">
        <div class="col-md-6 col-sm-12 order-1 order-md-2 box-main-content align-self-center">
            <div class="box-main-content-right text-center w-100">
                <p class="fs-4">#NEW SUMMER COLLECTION 2019</p>
                <h1 class="display-1">ARRIVALS SALES</h1>
                <a href="#collection"><button class="btn btn-lg" type="button">Shop Now</button></a>
            </div>
        </div>

        <div class="col-md-6 col-sm-12 order-2 order-md-1 box-main-content">
            <img src="resources/img/main.jpg" class="img-fluid box-main-content-left" alt="">
        </div>
    </div>
</div>